{% extends 'layout.twig' %}

{% block body %}
  <!--<h1>{{title}}</h1>
  <p>тут будет схема...</p>-->
<div class="container-fluid">
  <div class="row">
    <div class="col mx-lg-5 d-flex justify-content-center">
    <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="96%" height="100%" version="1.1" style="fill:#2B2A29; shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
         viewBox="0 0 170000 93500"
         xmlns:xlink="http://www.w3.org/1999/xlink">

      <g id="Слой_x0020_1">
        <g>
          <path class="fil1" d="M127779 20121l-106153 0 0 -308 106153 0 154 154 -154 154zm0 -308c85,0 154,69 154,154 0,85 -69,154 -154,154l0 -308zm-154 53094l0 -52940 308 0 0 52940 -154 154 -154 -154zm308 0c0,85 -69,154 -154,154 -85,0 -154,-69 -154,-154l308 0zm-106306 -154l106153 0 0 308 -106153 0 -154 -154 154 -154zm0 308c-85,0 -154,-69 -154,-154 0,-85 69,-154 154,-154l0 308zm154 -53094l0 52940 -308 0 0 -52940 154 -154 154 154zm-308 0c0,-85 69,-154 154,-154 85,0 154,69 154,154l-308 0z"/>
        </g>
        <g>
          <g id="_1188754080">
            <polygon class="fil2" points="74675,20600 127084,20600 127084,72367 74675,72367 "/>
            <g>
              <path class="fil4" d="M127084 20900l-52409 0 0 -599 52409 0 288 300 -288 300zm0 -599c159,0 288,134 288,300 0,166 -129,300 -288,300l0 -599zm-288 52067l0 -51767 575 0 0 51767 -288 300 -288 -300zm575 0c0,165 -129,300 -288,300 -159,0 -288,-134 -288,-300l575 0zm-52696 -300l52409 0 0 599 -52409 0 -288 -300 288 -300zm0 599c-159,0 -288,-134 -288,-300 0,-165 129,-300 288,-300l0 599zm288 -52067l0 51767 -575 0 0 -51767 288 -300 288 300zm-575 0c0,-165 129,-300 288,-300 159,0 288,134 288,300l-575 0z"/>
            </g>
            <g id="_1188719584">
              <polygon class="fil2" points="127084,59238 117140,59238 117140,32131 127084,32131 "/>
              <g>
                <path class="fil4" d="M117140 58939l9945 0 0 599 -9945 0 -288 -300 288 -300zm0 599c-159,0 -288,-134 -288,-300 0,-165 129,-300 288,-300l0 599zm288 -27407l0 27107 -575 0 0 -27107 288 -300 288 300zm-575 0c0,-166 129,-300 288,-300 159,0 288,134 288,300l-575 0zm10232 300l-9945 0 0 -599 9945 0 288 300 -288 300zm0 -599c159,0 288,134 288,300 0,165 -129,300 -288,300l0 -599zm-288 27407l0 -27107 575 0 0 27107 -288 300 -288 -300zm575 0c0,165 -129,300 -288,300 -159,0 -288,-134 -288,-300l575 0z"/>
              </g>
              <g>
                <path class="fil4" d="M117030 51560c159,0 288,134 288,300 0,165 -129,300 -288,300l0 -599zm-6216 -5876l575 0 0 0 7 303 22 299 36 294 50 289 63 284 76 279 89 273 101 267 113 260 125 253 136 246 147 238 157 230 168 222 177 213 187 204 196 195 205 185 213 174 221 164 229 153 236 141 243 130 250 118 256 105 262 92 268 79 273 66 278 52 282 37 287 23 291 8 0 599 -320 -8 -316 -25 -311 -41 -306 -57 -301 -72 -295 -87 -289 -102 -282 -116 -276 -130 -268 -143 -260 -156 -252 -168 -244 -181 -235 -192 -225 -203 -216 -214 -206 -225 -195 -235 -184 -245 -173 -254 -162 -263 -150 -271 -137 -279 -125 -287 -111 -294 -98 -301 -84 -307 -69 -313 -55 -319 -40 -324 -24 -329 -8 -333 0 0zm6216 -6475l0 599 -291 8 -287 23 -282 37 -278 52 -273 66 -268 79 -262 92 -256 105 -250 118 -243 130 -236 142 -229 153 -221 164 -213 175 -205 185 -196 195 -187 204 -177 213 -168 222 -157 231 -147 238 -136 246 -125 253 -113 260 -101 267 -89 273 -76 279 -63 284 -50 289 -36 294 -22 299 -7 303 -575 0 8 -333 24 -329 40 -324 55 -319 69 -313 84 -307 98 -301 111 -294 125 -287 137 -279 150 -271 162 -263 173 -254 184 -245 195 -235 206 -225 216 -214 225 -203 235 -192 244 -181 252 -168 260 -156 268 -143 276 -130 282 -116 289 -102 295 -87 301 -72 306 -57 311 -41 316 -25 320 -8zm0 0c159,0 288,134 288,300 0,166 -129,300 -288,300l0 -599z"/>
              </g>
              <polygon class="fil2" points="127084,51955 122876,51955 122876,39414 127084,39414 "/>
              <g>
                <path class="fil4" d="M122876 51655l4208 0 0 599 -4208 0 -288 -300 288 -300zm0 599c-159,0 -288,-134 -288,-300 0,-165 129,-300 288,-300l0 599zm288 -12840l0 12541 -575 0 0 -12541 288 -300 288 300zm-575 0c0,-165 129,-300 288,-300 159,0 288,134 288,300l-575 0zm4495 300l-4208 0 0 -599 4208 0 288 300 -288 300zm0 -599c159,0 288,134 288,300 0,165 -129,300 -288,300l0 -599zm-288 12840l0 -12541 575 0 0 12541 -288 300 -288 -300zm575 0c0,165 -129,300 -288,300 -159,0 -288,-134 -288,-300l575 0z"/>
              </g>
            </g>
          </g>
          <g>
            <polygon class="fil2" points="22266,20600 74675,20600 74675,72367 22266,72367 "/>
            <g>
              <path class="fil4" d="M74675 20900l-52409 0 0 -599 52409 0 288 300 -288 300zm0 -599c159,0 288,134 288,300 0,166 -129,300 -288,300l0 -599zm-288 52067l0 -51767 575 0 0 51767 -288 300 -288 -300zm575 0c0,165 -129,300 -288,300 -159,0 -288,-134 -288,-300l575 0zm-52696 -300l52409 0 0 599 -52409 0 -288 -300 288 -300zm0 599c-159,0 -288,-134 -288,-300 0,-165 129,-300 288,-300l0 599zm288 -52067l0 51767 -575 0 0 -51767 288 -300 288 300zm-575 0c0,-165 129,-300 288,-300 159,0 288,134 288,300l-575 0z"/>
            </g>
            <g>
              <polygon class="fil2" points="22266,59238 32211,59238 32211,32131 22266,32131 "/>
              <g>
                <path class="fil4" d="M32211 59538l-9945 0 0 -599 9945 0 288 300 -288 300zm0 -599c159,0 288,134 288,300 0,165 -129,300 -288,300l0 -599zm288 -26808l0 27107 -575 0 0 -27107 288 -300 288 300zm-575 0c0,-166 129,-300 288,-300 159,0 288,134 288,300l-575 0zm-9657 -300l9945 0 0 599 -9945 0 -288 -300 288 -300zm0 599c-159,0 -288,-134 -288,-300 0,-166 129,-300 288,-300l0 599zm-288 26808l0 -27107 575 0 0 27107 -288 300 -288 -300zm575 0c0,165 -129,300 -288,300 -159,0 -288,-134 -288,-300l575 0z"/>
              </g>
              <g>
                <path class="fil4" d="M32320 51560l0 599c-159,0 -288,-134 -288,-300 0,-165 129,-300 288,-300zm6216 -5876l0 0 -8 333 -24 329 -40 324 -55 319 -70 313 -84 307 -98 301 -111 294 -125 287 -137 279 -150 271 -162 263 -173 254 -185 245 -195 235 -206 225 -216 214 -226 203 -235 192 -244 181 -252 168 -260 156 -268 143 -275 130 -282 116 -289 102 -295 87 -301 72 -306 57 -311 41 -316 25 -320 8 0 -599 291 -8 287 -23 282 -37 278 -52 273 -66 268 -79 262 -92 256 -105 250 -118 243 -130 236 -141 229 -153 221 -164 213 -174 205 -185 196 -195 187 -204 177 -213 168 -222 157 -230 147 -238 136 -246 125 -253 113 -260 101 -267 89 -273 76 -279 63 -284 50 -289 36 -294 22 -299 7 -303 0 0 575 0zm-6216 -6475l320 8 316 25 311 41 306 57 301 72 295 87 289 102 282 116 275 130 268 143 260 156 252 168 244 181 235 192 226 203 216 214 206 225 195 235 185 245 173 254 162 263 150 271 137 279 125 287 111 294 98 301 84 307 70 313 55 319 40 324 24 329 8 333 -575 0 -7 -303 -22 -299 -36 -294 -50 -289 -63 -284 -76 -279 -89 -273 -101 -267 -113 -260 -125 -253 -136 -246 -147 -238 -157 -231 -168 -222 -177 -213 -187 -204 -196 -195 -205 -185 -213 -175 -221 -164 -229 -153 -236 -142 -243 -130 -250 -118 -256 -105 -262 -92 -268 -79 -273 -66 -278 -52 -282 -37 -287 -23 -291 -8 0 -599zm0 0l0 599c-159,0 -288,-134 -288,-300 0,-165 129,-300 288,-300z"/>
              </g>
              <polygon class="fil2" points="22266,51955 26474,51955 26474,39414 22266,39414 "/>
              <g>
                <path class="fil4" d="M26474 52254l-4208 0 0 -599 4208 0 288 300 -288 300zm0 -599c159,0 288,134 288,300 0,165 -129,300 -288,300l0 -599zm288 -12241l0 12541 -575 0 0 -12541 288 -300 288 300zm-575 0c0,-165 129,-300 288,-300 159,0 288,134 288,300l-575 0zm-3920 -300l4208 0 0 599 -4208 0 -288 -300 288 -300zm0 599c-159,0 -288,-134 -288,-300 0,-165 129,-300 288,-300l0 599zm-288 12241l0 -12541 575 0 0 12541 -288 300 -288 -300zm575 0c0,165 -129,300 -288,300 -159,0 -288,-134 -288,-300l575 0z"/>
              </g>
            </g>
          </g>
          <path class="fil2" d="M74419 36598c4818,0 8724,4068 8724,9086 0,5018 -3906,9086 -8724,9086 -4818,0 -8724,-4068 -8724,-9086 0,-5018 3906,-9086 8724,-9086z"/>
          <g>
            <path class="fil4" d="M83431 45685l-575 0 0 0 -11 -452 -33 -446 -54 -440 -74 -433 -94 -425 -114 -417 -133 -408 -151 -399 -169 -389 -186 -379 -203 -368 -219 -357 -235 -345 -250 -332 -265 -319 -279 -305 -293 -291 -306 -276 -319 -261 -331 -245 -342 -229 -353 -212 -364 -194 -374 -176 -383 -157 -392 -138 -400 -118 -408 -98 -415 -77 -422 -56 -429 -34 -434 -11 0 -599 463 12 458 36 451 60 444 83 436 105 428 127 419 148 409 168 399 188 389 207 377 226 366 244 353 262 340 279 327 295 313 311 298 326 283 341 268 355 251 368 234 381 217 393 199 405 181 416 161 426 142 436 121 446 101 454 79 462 57 470 35 477 12 483 0 0zm-9011 9386l0 -599 0 0 434 -11 429 -34 422 -56 415 -77 408 -98 400 -118 392 -138 383 -157 374 -176 364 -194 353 -212 342 -229 331 -245 319 -261 306 -276 293 -291 279 -305 265 -319 250 -332 235 -345 219 -357 203 -368 186 -379 169 -389 151 -399 133 -408 114 -417 94 -425 74 -433 54 -440 33 -446 11 -453 575 0 -12 483 -35 477 -57 470 -79 462 -101 454 -121 446 -142 436 -161 426 -181 416 -199 405 -217 393 -234 381 -251 368 -268 355 -283 341 -298 326 -313 311 -327 295 -340 279 -353 262 -366 244 -377 226 -389 207 -399 188 -409 168 -419 148 -428 127 -436 105 -444 83 -451 60 -458 36 -463 12 0 0zm-9011 -9386l575 0 0 0 11 453 33 446 54 440 74 433 94 425 114 417 133 408 151 399 169 389 186 379 203 368 219 357 235 345 250 332 265 319 279 305 293 291 306 276 319 261 331 245 342 229 353 212 364 194 374 176 383 157 392 138 400 118 408 98 415 77 422 56 429 34 434 11 0 599 -463 -12 -458 -36 -451 -60 -444 -83 -436 -105 -428 -127 -419 -148 -409 -168 -399 -188 -389 -207 -377 -226 -366 -244 -353 -262 -340 -279 -327 -295 -313 -311 -298 -326 -283 -341 -267 -355 -251 -368 -234 -381 -217 -393 -199 -405 -181 -416 -161 -426 -142 -436 -121 -446 -101 -454 -79 -462 -57 -470 -35 -477 -12 -483 0 0zm9011 -9386l0 599 0 0 -434 11 -429 34 -422 56 -415 77 -408 98 -400 118 -392 138 -383 157 -374 176 -364 194 -353 212 -342 229 -331 245 -319 261 -306 276 -293 291 -279 305 -265 319 -250 332 -235 345 -219 357 -203 368 -186 379 -169 389 -151 399 -133 408 -114 417 -94 425 -74 433 -54 440 -33 446 -11 452 -575 0 12 -483 35 -477 57 -470 79 -462 101 -454 121 -446 142 -436 161 -426 181 -416 199 -405 217 -393 234 -381 251 -368 267 -355 283 -341 298 -326 313 -311 327 -295 340 -279 353 -262 366 -244 377 -226 389 -207 399 -188 409 -168 419 -148 428 -127 436 -105 444 -83 451 -60 458 -36 463 -12 0 0z"/>
          </g>
        </g>
        <g>
          <polygon class="sector" points="13859,25532 362,25532 362,38798 13859,38798 "/>
          <path id="1" class="fil1" d="M362 25381l13497 0 0 301 -13497 0 -154 -151 154 -151zm0 301c-85,0 -154,-67 -154,-151 0,-83 69,-151 154,-151l0 301zm-154 13115l0 -13266 309 0 0 13266 -155 151 -154 -151zm309 0c0,83 -69,151 -155,151 -85,0 -154,-68 -154,-151l309 0zm13343 151l-13497 0 0 -301 13497 0 155 151 -155 151zm0 -301c85,0 155,67 155,151 0,83 -69,151 -155,151l0 -301zm155 -13115l0 13266 -309 0 0 -13266 155 -151 155 151zm-309 0c0,-83 69,-151 155,-151 85,0 155,68 155,151l-309 0z"/>
        </g>
        <g>
          <polygon class="sector" points="13859,39805 362,39805 362,53071 13859,53071 "/>
          <path id="1" class="fil1" d="M362 39654l13497 0 0 301 -13497 0 -154 -151 154 -151zm0 301c-85,0 -154,-68 -154,-151 0,-83 69,-151 154,-151l0 301zm-154 13116l0 -13266 308 0 0 13266 -154 151 -154 -151zm308 0c0,83 -69,151 -154,151 -85,0 -154,-67 -154,-151l308 0zm13344 151l-13497 0 0 -301 13497 0 154 151 -154 151zm0 -301c85,0 154,68 154,151 0,83 -69,151 -154,151l0 -301zm154 -13116l0 13266 -308 0 0 -13266 154 -151 154 151zm-308 0c0,-83 69,-151 154,-151 85,0 154,68 154,151l-308 0z"/>
        </g>
        <g>
          <polygon id="sector_x0020_13" class="fansector" points="13859,54077 362,54077 362,67344 13859,67344 "/>
          <path id="1" class="fil1" d="M362 53927l13497 0 0 301 -13497 0 -154 -151 154 -151zm0 301c-85,0 -154,-68 -154,-151 0,-83 69,-151 154,-151l0 301zm-154 13116l0 -13266 308 0 0 13266 -154 151 -154 -151zm308 0c0,83 -69,151 -154,151 -85,0 -154,-68 -154,-151l308 0zm13344 151l-13497 0 0 -301 13497 0 154 151 -154 151zm0 -301c85,0 154,68 154,151 0,83 -69,151 -154,151l0 -301zm154 -13116l0 13266 -308 0 0 -13266 154 -151 154 151zm-308 0c0,-83 69,-151 154,-151 85,0 154,67 154,151l-308 0z"/>
        </g>
        <g>
          <polygon class="sector" points="44187,79097 44187,92364 63581,92364 63581,79097 "/>
          <path id="1" class="fil1" d="M44033 92364l0 -13266 308 0 0 13266 -154 151 -154 -151zm308 0c0,83 -69,151 -154,151 -85,0 -154,-68 -154,-151l308 0zm19241 151l-19394 0 0 -301 19394 0 154 151 -154 151zm0 -301c85,0 154,68 154,151 0,83 -69,151 -154,151l0 -301zm154 -13116l0 13266 -307 0 0 -13266 154 -151 154 151zm-307 0c0,-83 69,-151 154,-151 85,0 154,67 154,151l-307 0zm-19241 -151l19394 0 0 301 -19394 0 -154 -151 154 -151zm0 301c-85,0 -154,-68 -154,-151 0,-83 69,-151 154,-151l0 301z"/>
        </g>
        <g>
          <polygon class="sector" points="65053,79097 65053,92364 84447,92364 84447,79097 "/>
          <path id="1" class="fil1" d="M64899 92364l0 -13266 307 0 0 13266 -154 151 -154 -151zm307 0c0,83 -69,151 -154,151 -85,0 -154,-68 -154,-151l307 0zm19241 151l-19395 0 0 -301 19395 0 154 151 -154 151zm0 -301c85,0 154,68 154,151 0,83 -69,151 -154,151l0 -301zm154 -13116l0 13266 -308 0 0 -13266 154 -151 154 151zm-308 0c0,-83 69,-151 154,-151 85,0 154,67 154,151l-308 0zm-19241 -151l19395 0 0 301 -19395 0 -154 -151 154 -151zm0 301c-85,0 -154,-68 -154,-151 0,-83 69,-151 154,-151l0 301z"/>
        </g>
        <g>
          <polygon class="sector" points="86026,79097 86026,92364 105420,92364 105420,79097 "/>
          <path id="1" class="fil1" d="M85871 92364l0 -13266 309 0 0 13266 -155 151 -155 -151zm309 0c0,83 -69,151 -155,151 -85,0 -155,-67 -155,-151l309 0zm19240 151l-19394 0 0 -301 19394 0 155 151 -155 151zm0 -301c85,0 155,68 155,151 0,83 -69,151 -155,151l0 -301zm155 -13116l0 13266 -309 0 0 -13266 155 -151 155 151zm-309 0c0,-83 69,-151 155,-151 85,0 155,68 155,151l-309 0zm-19240 -151l19394 0 0 301 -19394 0 -155 -151 155 -151zm0 301c-85,0 -155,-67 -155,-151 0,-83 69,-151 155,-151l0 301z"/>
        </g>
        <g>
          <polygon class="sector" points="152403,55303 138906,55303 138906,70976 152403,70976 "/>
          <path id="1" class="fil1" d="M138906 55152l13497 0 0 301 -13497 0 -154 -151 154 -151zm0 301c-85,0 -154,-68 -154,-151 0,-83 69,-151 154,-151l0 301zm-154 15522l0 -15673 308 0 0 15673 -154 151 -154 -151zm308 0c0,83 -69,151 -154,151 -85,0 -154,-67 -154,-151l308 0zm13344 151l-13497 0 0 -301 13497 0 154 151 -154 151zm0 -301c85,0 154,68 154,151 0,83 -69,151 -154,151l0 -301zm154 -15522l0 15673 -308 0 0 -15673 154 -151 154 151zm-308 0c0,-83 69,-151 154,-151 85,0 154,67 154,151l-308 0z"/>
        </g>
        <g>
          <polygon id="sector_x0020_6" class="sector" points="152403,38442 138906,38442 138906,54114 152403,54114 "/>
          <path id="1" class="fil1" d="M138906 38291l13497 0 0 301 -13497 0 -154 -151 154 -151zm0 301c-85,0 -154,-68 -154,-151 0,-83 69,-151 154,-151l0 301zm-154 15522l0 -15673 308 0 0 15673 -154 151 -154 -151zm308 0c0,83 -69,151 -154,151 -85,0 -154,-68 -154,-151l308 0zm13344 151l-13497 0 0 -301 13497 0 154 151 -154 151zm0 -301c85,0 154,68 154,151 0,83 -69,151 -154,151l0 -301zm154 -15522l0 15673 -308 0 0 -15673 154 -151 154 151zm-308 0c0,-83 69,-151 154,-151 85,0 154,68 154,151l-308 0z"/>
        </g>
        <g>
          <polygon id="sector_x0020_5" class="fansector" points="152403,21580 138906,21580 138906,37253 152403,37253 "/>
          <path id="1" class="fil1" d="M138906 21429l13497 0 0 301 -13497 0 -154 -151 154 -151zm0 301c-85,0 -154,-67 -154,-151 0,-83 69,-151 154,-151l0 301zm-154 15522l0 -15673 308 0 0 15673 -154 151 -154 -151zm308 0c0,83 -69,151 -154,151 -85,0 -154,-67 -154,-151l308 0zm13344 151l-13497 0 0 -301 13497 0 154 151 -154 151zm0 -301c85,0 154,68 154,151 0,83 -69,151 -154,151l0 -301zm154 -15522l0 15673 -308 0 0 -15673 154 -151 154 151zm-308 0c0,-83 69,-151 154,-151 85,0 154,68 154,151l-308 0z"/>
        </g>
        <g>
          <polygon id="sector_x0020_3" class="sector" points="86026,13458 86026,192 105420,192 105420,13458 "/>
          <path id="1" class="fil1" d="M86180 192l0 13266 -308 0 0 -13266 154 -151 154 151zm-308 0c0,-83 69,-151 154,-151 85,0 154,67 154,151l-308 0zm19548 151l-19395 0 0 -301 19395 0 154 151 -154 151zm0 -301c85,0 154,67 154,151 0,83 -69,151 -154,151l0 -301zm-154 13417l0 -13266 308 0 0 13266 -154 151 -154 -151zm308 0c0,83 -69,151 -154,151 -85,0 -154,-68 -154,-151l308 0zm-19548 -151l19395 0 0 301 -19395 0 -154 -151 154 -151zm0 301c-85,0 -154,-68 -154,-151 0,-83 69,-151 154,-151l0 301z"/>
        </g>
        <g>
          <polygon id="sector_x0020_2" class="sector" points="44187,13458 44187,192 63581,192 63581,13458 "/>
          <path id="1" class="fil1" d="M44341 192l0 13266 -308 0 0 -13266 154 -151 154 151zm-308 0c0,-83 69,-151 154,-151 85,0 154,67 154,151l-308 0zm19548 151l-19394 0 0 -301 19394 0 154 151 -154 151zm0 -301c85,0 154,67 154,151 0,83 -69,151 -154,151l0 -301zm-154 13417l0 -13266 307 0 0 13266 -154 151 -154 -151zm307 0c0,83 -69,151 -154,151 -85,0 -154,-68 -154,-151l307 0zm-19548 -151l19394 0 0 301 -19394 0 -154 -151 154 -151zm0 301c-85,0 -154,-68 -154,-151 0,-83 69,-151 154,-151l0 301z"/>
        </g>
        <g>
          <path id="sector_x0020_VIP" class="vipsector" d="M65053 13458l0 -13266 19395 0 0 13266 -5441 0c-188,-347 -360,-665 -518,-958 -213,-393 -403,-745 -575,-1063 -1092,0 -2184,0 -3275,0 -1091,0 -2182,0 -3272,0 -172,317 -362,670 -574,1063 -158,293 -331,611 -518,958l-5221 0z"/>
          <path id="1" class="fil1" d="M65206 192l0 13266 -307 0 0 -13266 154 -151 154 151zm-307 0c0,-83 69,-151 154,-151 85,0 154,68 154,151l-307 0zm19548 151l-19395 0 0 -302 19395 0 154 151 -154 151zm0 -302c85,0 154,68 154,151 0,84 -69,151 -154,151l0 -302zm-154 13417l0 -13266 308 0 0 13266 -154 151 -154 -151zm308 0c0,83 -69,151 -154,151 -85,0 -154,-68 -154,-151l308 0zm-5594 -151l5441 0 0 302 -5441 0 -136 -80 136 -222zm0 302c-85,0 -154,-68 -154,-151 0,-83 69,-151 154,-151l0 302zm-653 -1038l272 -142 0 0 15 28 15 28 15 28 15 28 15 28 15 28 15 28 15 29 16 29 16 29 16 29 16 29 16 29 16 30 16 30 16 30 16 30 16 30 16 30 17 31 17 31 17 31 17 31 17 31 17 31 17 32 17 32 17 32 17 32 17 32 17 32 18 33 -272 142 -18 -32 -18 -32 -17 -32 -17 -32 -17 -32 -17 -32 -17 -32 -17 -31 -17 -31 -17 -31 -17 -31 -17 -31 -17 -31 -16 -30 -16 -30 -16 -30 -16 -30 -16 -30 -16 -30 -16 -29 -16 -29 -16 -29 -16 -29 -16 -29 -15 -29 -15 -28 -15 -28 -15 -28 -15 -28 -15 -28 -15 -28 -15 -28 0 0zm0 0c-40,-74 -11,-165 64,-204 75,-39 168,-11 208,63l-272 142zm-439 -983l0 -302 136 80 16 30 16 30 16 30 17 31 17 31 17 31 17 31 17 31 17 32 17 32 17 32 17 32 18 33 18 33 18 33 18 33 18 33 18 34 18 34 18 34 19 34 19 34 19 35 19 35 19 35 19 35 19 36 19 36 20 36 20 36 20 37 20 37 -272 142 -20 -37 -20 -37 -20 -36 -20 -36 -19 -36 -19 -36 -19 -35 -19 -35 -19 -35 -19 -35 -19 -34 -19 -34 -18 -34 -18 -34 -18 -34 -18 -33 -18 -33 -18 -33 -18 -33 -18 -32 -18 -32 -17 -32 -17 -32 -17 -32 -17 -31 -17 -31 -17 -31 -17 -31 -17 -31 -16 -30 -16 -30 -16 -30 136 80zm-136 -80c-40,-74 -11,-165 64,-204 75,-39 168,-11 208,63l-272 142zm-3139 80l0 -302 0 0 102 0 102 0 102 0 102 0 102 0 102 0 102 0 102 0 102 0 102 0 102 0 102 0 102 0 102 0 102 0 102 0 102 0 102 0 102 0 102 0 102 0 102 0 102 0 102 0 102 0 102 0 102 0 102 0 102 0 102 0 102 0 102 0 0 302 -102 0 -102 0 -102 0 -102 0 -102 0 -102 0 -102 0 -102 0 -102 0 -102 0 -102 0 -102 0 -102 0 -102 0 -102 0 -102 0 -102 0 -102 0 -102 0 -102 0 -102 0 -102 0 -102 0 -102 0 -102 0 -102 0 -102 0 -102 0 -102 0 -102 0 -102 0 -102 0 0 0zm-3136 -80l-272 -142 136 -80 102 0 102 0 102 0 102 0 102 0 102 0 102 0 102 0 102 0 102 0 102 0 102 0 102 0 102 0 102 0 102 0 102 0 102 0 102 0 102 0 102 0 102 0 102 0 102 0 102 0 102 0 102 0 102 0 102 0 102 0 102 0 102 0 0 302 -102 0 -102 0 -102 0 -102 0 -102 0 -102 0 -102 0 -102 0 -102 0 -102 0 -102 0 -102 0 -102 0 -102 0 -102 0 -102 0 -102 0 -102 0 -102 0 -102 0 -102 0 -102 0 -102 0 -102 0 -102 0 -102 0 -102 0 -102 0 -102 0 -102 0 -102 0 -102 0 136 -80zm-136 80c-85,0 -154,-68 -154,-151 0,-83 69,-151 154,-151l0 302zm-439 982l-272 -142 0 0 20 -37 20 -37 20 -36 19 -36 19 -36 19 -36 19 -35 19 -35 19 -35 19 -35 19 -35 19 -34 18 -34 18 -34 18 -34 18 -33 18 -33 18 -33 18 -33 18 -32 18 -32 17 -32 17 -32 17 -32 17 -31 17 -31 17 -31 17 -31 17 -31 16 -30 16 -30 16 -30 272 142 -16 30 -16 30 -16 30 -16 30 -17 31 -17 31 -17 31 -17 31 -17 32 -17 32 -17 32 -17 32 -18 32 -18 33 -18 33 -18 33 -18 33 -18 33 -18 34 -19 34 -18 34 -19 34 -19 35 -19 35 -19 35 -19 35 -19 36 -19 36 -19 36 -20 36 -20 37 -20 37 0 0zm0 0c-40,74 -133,102 -208,63 -75,-39 -104,-131 -64,-204l272 142zm-654 1038l0 -302 -136 80 18 -33 17 -32 17 -32 17 -32 17 -32 17 -32 17 -32 17 -31 17 -31 17 -31 17 -31 17 -31 17 -31 16 -30 16 -30 16 -30 16 -30 16 -30 16 -29 16 -30 16 -29 16 -29 16 -29 16 -29 16 -29 15 -29 15 -28 15 -28 15 -28 15 -28 15 -28 15 -28 272 142 -15 28 -15 28 -15 28 -15 28 -15 28 -15 28 -15 28 -16 29 -16 29 -16 29 -16 29 -16 29 -16 29 -16 30 -16 30 -16 30 -16 30 -16 30 -16 30 -17 30 -17 31 -17 31 -17 31 -17 31 -17 31 -17 31 -17 32 -17 32 -17 32 -17 32 -17 32 -18 32 -136 80zm136 -80c-40,74 -133,102 -208,63 -75,-39 -103,-131 -64,-204l272 142zm-5357 -222l5221 0 0 302 -5221 0 -154 -151 154 -151zm0 302c-85,0 -154,-68 -154,-151 0,-83 69,-151 154,-151l0 302z"/>
        </g>
        <g>
          <polygon class="sector" points="106892,13458 106892,192 126286,192 126286,13458 113882,13458 113882,11297 110546,11297 110546,13458 "/>
          <path id="1" class="fil1" d="M106738 192l154 -151 154 151 0 13266 -308 0 0 -13266zm308 0l-308 0c0,-83 69,-151 154,-151 85,0 154,68 154,151zm19241 -151l154 151 -154 151 -19394 0 0 -302 19394 0zm0 302l0 -302c85,0 154,68 154,151 0,84 -69,151 -154,151zm154 13115l-154 151 -154 -151 0 -13266 308 0 0 13266zm-308 0l308 0c0,83 -69,151 -154,151 -85,0 -154,-68 -154,-151zm-12251 151l-154 -151 154 -151 12405 0 0 302 -12405 0zm0 -302l0 302c-85,0 -154,-68 -154,-151 0,-83 69,-151 154,-151zm-154 -2010l154 -151 154 151 0 2161 -308 0 0 -2161zm308 0l-308 0c0,-83 69,-151 154,-151 85,0 154,68 154,151zm-3489 151l-154 -151 154 -151 3336 0 0 302 -3336 0zm0 -302l0 302c-85,0 -154,-68 -154,-151 0,-83 69,-151 154,-151zm154 2312l-154 151 -154 -151 0 -2161 308 0 0 2161zm-308 0l308 0c0,83 -69,151 -154,151 -85,0 -154,-68 -154,-151zm-3501 151l-154 -151 154 -151 3654 0 0 302 -3654 0zm0 -302l0 302c-85,0 -154,-68 -154,-151 0,-83 69,-151 154,-151z"/>
        </g>
        <g>
          <polygon id="sector_x0020_1" class="sector" points="42716,13458 42716,192 23321,192 23321,13458 35726,13458 35726,11297 39061,11297 39061,13458 "/>
          <path id="1" class="fil1" d="M42869 192l0 13266 -308 0 0 -13266 154 -151 154 151zm-308 0c0,-83 69,-151 154,-151 85,0 154,68 154,151l-308 0zm-19241 -151l19395 0 0 302 -19395 0 -154 -151 154 -151zm0 302c-85,0 -154,-68 -154,-151 0,-83 69,-151 154,-151l0 302zm-154 13115l0 -13266 308 0 0 13266 -154 151 -154 -151zm308 0c0,83 -69,151 -154,151 -85,0 -154,-68 -154,-151l308 0zm12251 151l-12405 0 0 -302 12405 0 154 151 -154 151zm0 -302c85,0 154,68 154,151 0,83 -69,151 -154,151l0 -302zm154 -2010l0 2161 -308 0 0 -2161 154 -151 154 151zm-308 0c0,-83 69,-151 154,-151 85,0 154,68 154,151l-308 0zm3489 151l-3336 0 0 -302 3336 0 154 151 -154 151zm0 -302c85,0 154,68 154,151 0,83 -69,151 -154,151l0 -302zm-154 2312l0 -2161 308 0 0 2161 -154 151 -154 -151zm308 0c0,83 -69,151 -154,151 -85,0 -154,-68 -154,-151l308 0zm3501 151l-3654 0 0 -302 3654 0 154 151 -154 151zm0 -302c85,0 154,68 154,151 0,83 -69,151 -154,151l0 -302z"/>
        </g>
        <g>
          <polygon id="sector_x0020_8" class="sector" points="106892,79097 106892,92364 126286,92364 126286,79097 113882,79097 113882,81258 110546,81258 110546,79097 "/>
          <path id="1" class="fil1" d="M106738 92364l0 -13266 308 0 0 13266 -154 151 -154 -151zm308 0c0,83 -69,151 -154,151 -85,0 -154,-68 -154,-151l308 0zm19241 151l-19394 0 0 -302 19394 0 154 151 -154 151zm0 -302c85,0 154,68 154,151 0,83 -69,151 -154,151l0 -302zm154 -13115l0 13266 -308 0 0 -13266 154 -151 154 151zm-308 0c0,-83 69,-151 154,-151 85,0 154,68 154,151l-308 0zm-12251 -151l12405 0 0 302 -12405 0 -154 -151 154 -151zm0 302c-85,0 -154,-68 -154,-151 0,-83 69,-151 154,-151l0 302zm-154 2010l0 -2161 308 0 0 2161 -154 151 -154 -151zm308 0c0,84 -69,151 -154,151 -85,0 -154,-68 -154,-151l308 0zm-3489 -151l3336 0 0 302 -3336 0 -154 -151 154 -151zm0 302c-85,0 -154,-68 -154,-151 0,-83 69,-151 154,-151l0 302zm154 -2312l0 2161 -308 0 0 -2161 154 -151 154 151zm-308 0c0,-83 69,-151 154,-151 85,0 154,68 154,151l-308 0zm-3501 -151l3654 0 0 302 -3654 0 -154 -151 154 -151zm0 302c-85,0 -154,-68 -154,-151 0,-83 69,-151 154,-151l0 302z"/>
        </g>
        <g>
          <polygon class="sector" points="42716,79097 42716,92364 23321,92364 23321,79097 35726,79097 35726,81258 39061,81258 39061,79097 "/>
          <path id="1" class="fil1" d="M42869 92364l-154 151 -154 -151 0 -13266 308 0 0 13266zm-308 0l308 0c0,83 -69,151 -154,151 -85,0 -154,-68 -154,-151zm-19241 151l-154 -151 154 -151 19395 0 0 302 -19395 0zm0 -302l0 302c-85,0 -154,-68 -154,-151 0,-83 69,-151 154,-151zm-154 -13115l154 -151 154 151 0 13266 -308 0 0 -13266zm308 0l-308 0c0,-83 69,-151 154,-151 85,0 154,68 154,151zm12251 -151l154 151 -154 151 -12405 0 0 -302 12405 0zm0 302l0 -302c85,0 154,68 154,151 0,84 -69,151 -154,151zm154 2010l-154 151 -154 -151 0 -2161 308 0 0 2161zm-308 0l308 0c0,84 -69,151 -154,151 -85,0 -154,-68 -154,-151zm3489 -151l154 151 -154 151 -3336 0 0 -302 3336 0zm0 302l0 -302c85,0 154,68 154,151 0,84 -69,151 -154,151zm-154 -2312l154 -151 154 151 0 2161 -308 0 0 -2161zm308 0l-308 0c0,-83 69,-151 154,-151 85,0 154,68 154,151zm3501 -151l154 151 -154 151 -3654 0 0 -302 3654 0zm0 302l0 -302c85,0 154,68 154,151 0,84 -69,151 -154,151z"/>
        </g>
        <text x="74440" y="52801" class="total-entered">{{ stats.field1 }}</text>
        <text x="50523" y="65927" class="total">{{ totalseats }}</text>
        <g transform="matrix(2.64845E-14 -1 1 2.64845E-14 -26580.2 155797)">
          <text x="85000" y="46750"  class="tribunes">ЮЖНАЯ  ТРИБУНА</text>
        </g>
        <g transform="matrix(2.64845E-14 1 -1 2.64845E-14 177122 -64930.6)">
          <text x="85000" y="46750"  class="tribunes">СЕВЕРНАЯ  ТРИБУНА</text>
        </g>
        <text x="46778" y="18917"  class="tribunes">ЗАПАДНАЯ  ТРИБУНА</text>
        <text x="45066" y="77894"  class="tribunes">ВОСТОЧНАЯ  ТРИБУНА</text>
        <text x="154601" y="23807"  class="total-entered-fans">{{ stats.field2 }}</text>
        <text x="154601" y="27685"  class="fanzone">{{ totalseatsfanzone }}</text>
        <text x="116230" y="70240"  class="time">{{ stats.time }}</text>
        <text x="31223" y="9564"  class="sectors">1</text>
        <text x="52088" y="9564"  class="sectors">2</text>
        <text x="69984" y="9004"  class="vip">VIP</text>
        <text x="93703" y="9564"  class="sectors">3</text>
        <text x="114493" y="9515"  class="sectors">4</text>
        <text x="143554" y="32152"  class="sectors">5</text>
        <text x="143486" y="48918"  class="sectors">6</text>
        <text x="143516" y="65829"  class="sectors">7</text>
        <text x="114481" y="88420"  class="sectors">8</text>
        <text x="93623" y="88420"  class="sectors">9</text>
        <text x="70405" y="88420"  class="sectors">10</text>
        <text x="50183" y="88469"  class="sectors">11</text>
        <text x="28677" y="88469"  class="sectors">12</text>
        <text x="2770" y="63449"  class="sectors">13</text>
        <text x="2770" y="49177"  class="sectors">14</text>
        <text x="2769" y="34904"  class="sectors">15</text>
      </g>
  </svg>
  </div>
  </div>
</div>
{% endblock %}
